

body {
    background-color: black;
  }

  h1{ 
    color: chartreuse;
    font-family: 'Righteous';
    text-shadow: 7px 7px black;
  }
 
  .jumbotron {
    background-image: url("images/background.png");
    color:chartreuse;
   


}
  
 
  